.sogody-staff {
  flex-direction: column;
  margin: 100px 0;

  @include mobile {
    margin: 64px 0;
  }

  .row {
    justify-content: start;
  }
  h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    display: flex;
    font-family: 'Cabinet Grotesk' !important;

    @include mobile {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 30px !important;

      .desktop-br {
        display: none;
      }
    }
  }

  .swiper-nav-container {
    @include mobile {
      margin-bottom: 0 !important;

      .swiper-button-prev {
        left: unset !important;
        right: 52px !important;
      }
      .swiper-button-next {
        right: 0 !important;
      }
    }
  }

  .employee-card {
    border: none;
    margin-bottom: 40px;
    padding: 0;
    width: 100%;

		.card-body {
			max-width: 100%;
		}

    .employee-img {
      width: 100%;
			max-width: 100%;
      max-height: auto;
      aspect-ratio: 15/16;
      object-fit: contain;
      border-radius: 32px;
      background-color: white;
      filter: grayscale(100%);
      transition: filter 0.3s ease-in-out;

      &:hover {
        filter: grayscale(0%);
      }

      @include mobile {
        max-height: 300px;
        width: fit-content;
      }
    }

    @include mobile {
      margin-bottom: 30px;
      width: fit-content;
      height: 350px;
    }

    .employee-img:hover {
      filter: grayscale(0%) !important;
    }
  }
  .card-body {
    height: auto;
    padding: 0px;
    text-align: center;
    border: none;

    @include mobile {
      width: fit-content;
    }

    .card-text {
      margin: 0 auto;
      margin-top: 15px;
      p {
        margin-bottom: 0px;
      }
      .name {
        font-size: 16px;
        @include mobile {
          font-size: 14px;
        }
        line-height: 20px;
        font-family: "HelveticaNeueLT Pro 63 MdEx" !important;
        color: #2b2b2b;
      }

      .title {
        padding-top: 0;
        font-size: 12px;
        line-height: 20px;
        font-family: "HelveticaNeueLT Pro 45 Lt";
        color: #636363;
      }
    }
  }
}

//Sogody Hiring Box
.sogody-hiring-box {
  text-align: center;
  border: 1px solid $color-light-gray;
  padding: 15px;
  height: 100%;

  @include tablet {
    padding: 20px;
  }
  @include mobile {
    padding: 20px;
  }

  .hiring-content {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    .title {
      font-family: "HelveticaNeueLT Pro 65 Md";
      color: $color-black;
      font-size: 20px;
      line-height: 36px;
    }
    p {
      margin-bottom: unset;
    }
    .subtitle {
      font-size: 16px;
      line-height: 30px;
      font-family: "HelveticaNeueLT Pro 45 Lt";
      color: $color-dark-gray;
      @include tablet {
        margin-bottom: 25px;
      }
      @include mobile {
        margin-bottom: 25px;
      }
    }
    .jobs {
      color: $color-red;
    }
    .hiring-btn {
      width: 100%;
      text-align: right !important;
      @include tablet {
        margin-top: 25px;
      }
      @include mobile {
        margin-top: 25px;
      }
      .tertiary-btn-s.btn.btn-primary {
        text-align: left;
        @include tertiary-btn;
      }
      .read-more {
        width: 15px;
        height: 10px;
        margin-left: 8px;
        img {
          margin-bottom: 2px;
        }
      }
    }
  }
}
.company-boxes {
  margin-top: 70px;

  @include mobile {
    margin-top: 32px;
  }

  .sog-box-img {
    overflow: hidden;
    margin: 0 auto;
  }
  .sog-box-img img {
    width: 100%;
    transition: 0.5s all ease-in-out;
  }
  // .sog-box-img:hover img  {
  //     transform: scale(1.1);
  // }
}
.box-content:hover,
.sogody-hiring-box:hover {
  .sog-box-img img {
    transform: scale(1.1);
  }
}
//Sogody Box
.hiring-b {
  @include tablet {
    margin-top: 30px;
  }
  @include mobile {
    margin-top: 30px;
  }
}
.sogody-box {
  text-align: left;
  border: 1px solid $color-light-gray;
  padding: 20px;
  height: 100%;

  .box-content {
    .title {
      font-family: "HelveticaNeueLT Pro 65 Md";
      color: $color-black;
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 30px;

      @include mobile {
        line-height: 18px;
        text-align: center;
        margin-top: 20px;
      }
    }
    .sogody-box-text {
      @include mobile {
        margin-top: 25px;
      }
      .ol-list {
        padding-left: 0px;
        font-size: 16px;
        line-height: 30px;
        font-family: "HelveticaNeueLT Pro 45 Lt";
        color: $color-black;
        .sb-paragraph {
          font-size: 16px;
          line-height: 30px;
          font-family: "HelveticaNeueLT Pro 45 Lt";
          color: $color-black;
          margin-bottom: 20px;
        }

        li::marker {
          list-style-type: none;
        }
        li:before {
          content: counter(item) "  ";
          counter-increment: item;
          margin-right: 5px;
          color: $color-dark-green;
        }
      }
      .ol-list {
        li:last-child {
          .sb-paragraph {
            margin-bottom: unset;
          }
        }
      }
      ol {
        counter-reset: item;
        list-style-type: none;
      }
      li {
        display: flex;
      }
    }
  }
}
