@import "../utilities/mixins.scss";

.technologies-used {
  margin: 80px 0 100px !important;

  @include mobile {
    margin: 64px 0 0 !important;
  }

  & > .title {
    font-size: 32px !important;
    line-height: 40px !important;
    font-family: "Cabinet Grotesk" !important;
    font-weight: 500 !important;
    max-width: 570px !important;
    margin-bottom: 0;

    @include mobile {
      max-width: 100% !important;
      font-size: 28px !important;
      line-height: 32px !important;
      text-align: center !important;
    }
  }

  .col-sm-6 {
    padding: 15px !important;
  }
  .services-digital-experience {
    background-color: #ffff;
    min-height: 150px;
    border-radius: 10px;
    width: 100%;
    position: relative;
    gap: 20px !important;
    .block-title {
      font-size: 12px !important;
      font-family: "HelveticaNeueLT Pro 55 Roman" !important;
      line-height: 1;
    }
    .subtitle {
      font-size: 10px;
      line-height: 1 !important;
    }
    .services-digital-experience-image {
      position: relative;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 30px;
    }

    .gap {
      gap: 10px;
    }
  }
}
