/* BOLD */
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}
/* 45 */
@font-face {
  font-family: "HelveticaNeueLT Pro 45 Lt";
  src:
    url("../fonts/HelveticaNeueLTPro-Lt.woff") format("woff"),
    url("../fonts/HelveticaNeueLTPro-Lt_1.ttf") format("truetype"),
    url("../fonts/HelveticaNeueLTPro-Lt.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}
/* 55 Roman */
@font-face {
  font-family: "HelveticaNeueLT Pro 55 Roman";
  src:
    url("../fonts/HelveticaNeueLTPro-Roman.woff") format("woff"),
    url("../fonts/HelveticaNeueLTPro-Roman_1.ttf") format("truetype"),
    url("../fonts/HelveticaNeueLTPro-Roman.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* Cabinet Grotesk Thin */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Thin.eot");
  src:
    url("../fonts/CabinetGrotesk-Thin.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CabinetGrotesk-Thin.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Thin.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* Cabinet Grotesk ExtraLight */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Extralight.eot");
  src:
    url("../fonts/CabinetGrotesk-Extralight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CabinetGrotesk-Extralight.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Extralight.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* Cabinet Grotesk Light */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Light.eot");
  src:
    url("../fonts/CabinetGrotesk-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CabinetGrotesk-Light.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Light.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* Cabinet Grotesk Regular */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Regular.eot");
  src:
    url("../fonts/CabinetGrotesk-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CabinetGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Regular.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* Cabinet Grotesk Medium */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Medium.eot");
  src:
    url("../fonts/CabinetGrotesk-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Medium.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* Cabinet Grotesk Bold */
@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Bold.eot");
  src:
    url("../fonts/CabinetGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Bold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}


/* 65 Roman */
@font-face {
  font-family: "HelveticaNeueLT Pro 65 Md";
  src:
    url("../fonts/HelveticaNeueLTPro-Md.woff") format("woff"),
    url("../fonts/HelveticaNeueLTPro-Md_1.ttf") format("truetype"),
    url("../fonts/HelveticaNeueLTPro-Md.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* 63 Roman */
@font-face {
  font-family: "HelveticaNeueLT Pro 63 MdEx";
  src:
    url("../fonts/HelveticaNeueLTPro-MdEx.woff") format("woff"),
    url("../fonts/HelveticaNeueLTPro-MdEx_1.ttf") format("truetype"),
    url("../fonts/HelveticaNeueLTPro-MdEx.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}

/* 75 Roman */
@font-face {
  font-family: "HelveticaNeueLT Pro 75 Md";
  src:
    url("../fonts/HelveticaNeueLTPro-Bd.woff") format("woff"),
    url("../fonts/HelveticaNeueLTPro-Bd_1.ttf") format("truetype"),
    url("../fonts/HelveticaNeueLTPro-Bd.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}
/* 53 */
@font-face {
  font-family: "HelveticaNeueLT Pro 53 Extended";
  src:
    url("../fonts/HelveticaNeueLTPro53Extended.woff") format("woff"),
    url("../fonts/HelveticaNeueLTPro53Extended.ttf") format("truetype"),
    url("../fonts/HelveticaNeueLTPro53Extended.eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: auto;
}
