@import "../../utilities/mixins.scss";

.services-single-banner {
  border-radius: 20px !important;

  .init-circular-div {
    width: fit-content;
  }
  
  .banner-sub {
    @include desktop {
      width: 70%;
    }
  }
  h2,
  .h2-styling {
    font-size: 32px !important;
    @include mobile {
      font-size: 24px !important;
      line-height: 1.3;
      margin: 0;
    }
    p {
      font-size: 32px !important;
      line-height: 40px !important;
      font-family: "Cabinet Grotesk" !important;
      font-weight: 500 !important;
      margin-bottom: 0;

      span.h2-styling {
        font-size: 32px !important;
        line-height: 40px !important;
        font-family: "Cabinet Grotesk" !important;
        font-weight: 500 !important;

        @include mobile {
          font-size: 28px !important;
          line-height: 32px !important;
        }
      }

      @include tablet {
        margin-bottom: 20px !important;
      }

      @include mobile {
        margin-bottom: 20px !important;
        font-size: 28px !important;
        line-height: 32px !important;
      }
    }
  }
  video {
    border-radius: 10px;
  }
  .video-container {
    height: 300px;
    width: 100%;
    max-width: 400px;
    @include tablet {
      max-width: 100%;
    }
    @include mobile {
      max-width: 100%;
    }
  }
}
.gap {
  @include desktop {
    gap: 30px;
  }
}

.services-single-banner,
.banner-work {
  .clients-carousel {
    background-color: transparent !important;
    .carousel-container {
      padding: 15px 3rem;
      padding-top: 0 !important;
      @include tablet {
        padding: 15px 1.5rem !important;

        padding-top: 0 !important;
      }
      @include mobile {
        padding: 15px 1.5rem !important;

        padding-top: 0 !important;
      }
    }
  }
}
