//Sogody Colors

$color-white: #ffffff;
$color-medium-white: #fbfbfb;
$color-dark-white: #ececec;
$color-black: #10101e;
$color-medium-black: #2c2c2c;
$color-dark-green: #67be83;
$color-medium-green: #b9d549;
$color-light-green: #d4eb20;
$color-dark-gray: #94959d;
$color-medium-gray: #c6c7ce;
$color-light-gray: #d6d6d6;
$color-gray: #f8f8f8;
$color-transparent: transparent;
$color-medium-blue: #f8fafa;
$color-medium-blue-2: #fdfafa;
$color-medium-blue-3: #edf2f8;
$color-medium-blue-4: #f8f8fa;
$color-red: #f47e7e;
$color-video: #e1f2e6;

//Jumbotrons
$color-light-blue: #f2f1f6;
$color-blue: #dbe5f2;
$color-beige: #fcf6f6;
$color-azure: #f1f6f5;

//CTA
$color-cta-meet: #f0f2f3;

//Buttons
$color-primary-bg: #8ed3a4;
$color-secondary-bg: #10101e;
